/****
 Tides Landing Page
 - BODY
 - FOOTER
 - HELPERS
 - HERO
 - TYPOGRAPHY
 - MEDIA QUERIES

****/

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap');

/** BODY
*****************************/

.cta-wrap {
  .form-control {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }
}

.cta-image-wrap {
  img {
    margin: -185px auto 0 auto;
    display: block;
    position: relative;
    z-index: 900;
  }
}

.btn-tides {
  color: #fff;
  background-color: #067990;
  border-color: #067990;
  border-radius: 0;
  padding: 0.5em 2.5em;
}

.btn.btn-tides:focus {
  box-shadow: 0 0 0 0.25rem rgb(66 179 158 / 25%);
}

#page-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.jumbotron {
  position: relative;
  .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
  }
}

.header-cta {
  h1 {
    font-size: 45px;
    color: #f5f5f5 !important;
    margin: 2.68em 0 0 0;
    transition: 0.5s;
  }
}

.top-logo {
  width: 200px;
  transition: 0.5s;
}

.form-name, .form-email {
  margin-bottom: 1.618em;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(66 179 158 / 25%);
}

.card {
  &.form-section {
    margin: 3.618em auto 0 auto;
    border: none;
    background: transparent;
  }
}

/** FOOTER
*****************************/

.footer {
  padding: 3rem 0 12rem;
  background-color: #5A6169;
}


/** HELPERS
*****************************/

.padding-zero {
  padding: 0 !important;
}

.img-fluid {
  width: 100%;
}

.margin-bottom-neg-2 {
  margin-bottom: -2px;
}

/** HERO
*****************************/
  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-1920x1080.png");
      min-height: 600px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .gradient-overlay {
    mix-blend-mode: multiply;
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 200;
  }
  .brand-gradient-1 {
    background: linear-gradient(-45deg, #467024, #318677 55%, #00596e);
  }

.fan--bottom {
  bottom: -1px;
  -webkit-transform: translateY(33%);
  transform: translateY(33%);
}

.fan {
  position: absolute;
  z-index: 300;
  width: 100%;
  left: 0;
  padding-bottom: 17%;
}

svg:not(:root) {
  overflow: hidden;
}

.fan__svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

svg {
  display: block;
  max-width: 100%;
}

.img-skew__container {
  transform: rotateY(-24deg);
  transition: all .45s cubic-bezier(.165,.84,.44,1);
  opacity: 1;
  transform-origin: 100% 0;
  img {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.3);
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
  }
}
.img-skew {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  z-index: 9999;
}

@media only screen and (min-width: 480px){
  .fan {
    padding-bottom: 15%;
  }
}

@media only screen and (min-width: 640px){
  .fan {
    padding-bottom: 10%;
  }
}

@media only screen and (min-width: 1020px) {
  .fan {
    padding-bottom: 7%;
  }
}

/** TYPOGRAPHY
*****************************/

h1,h2,h3,h4,h5 {
  font-family: 'Bitter', Helvetica, serif;
}

p {
  font-family: 'Open Sans', Helvetica sans-serif;
}

p.lead {
  font-size: 17px;
  line-height: 26px;
}

.required:after {
  content:" *";
  color: red;
}

.cta-wrap {

  p,p.lead,h1,h2,h3,h4,h5 {
    color: #5A6169;
  }

  .form-label {
    color: #5A6169;
    font-family: 'Bitter', Helvetica, serif;
    font-size: 16px;
  }

}

button.btn-tides {
  font-family: 'Open Sans', Helvetica sans-serif;
  font-weight: 900 !important;
  padding: 0 60px !important;
  height: 60px !important;
  font-size: 18px;
}

button.btn-tides:hover {
  color: #f3f3f3;
}

/** MEDIA QUERIES
*****************************/

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-576x324.png");
      min-height: 324px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-768x432.png");
      min-height: 432px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-992x558.png");
      min-height: 558px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .cta-image-wrap {
    img {
      width: max(40vw, 99%);
      transition: 0.5s;
    }
  }

  .jumbotron-mobile {
    display: none;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-1200x675.png.png");
      min-height: 675px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .cta-image-wrap {
    img {
      width: max(40vw, 99%);
      transition: 0.5s;
    }
  }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-1400x788.png");
      min-height: 600px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .cta-image-wrap {
    img {
      width: max(38.5vw, 70%);
      transition: 0.5s;
    }
  }

}


// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-1400x788.png");
      min-height: 600px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .header-cta {
    h2 {
      font-size: max(3vw, 38px);
      margin: 2.68em 0 0 0;
      transition: 0.5s;
    }
  }

  .top-logo {
    width: 200px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-1200x675.png");
      min-height: 563px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .header-cta {
    h2 {
      font-size: 3vw;
      margin: 2.68em 0 0 0;
      transition: 0.5s;
      padding-bottom: 12px !important;
    }
  }

  .top-logo {
    width: 200px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }

}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-992x558.png");
      min-height: 563px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .cta-image-wrap {
    img {
      display: none;
    }
  }

  .header-cta {
    h2 {
      font-size: 4vw;
      margin: 2.68em 0 0 0;
      transition: 0.5s;
      line-height: 50px;
    }
  }

  .top-logo {
    width: 150px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }

}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-768x432.png");
      min-height: 432px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .header-cta {
    h2 {
      font-size: 5vw;
      margin: 2.68em 0 0 0;
      transition: 0.5s;
    }
  }

  .top-logo {
    width: 100px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {

  .header-cta {
    h2 {
      font-size: 4vw;
      margin: 2.68em 0 0 0;
      transition: 0.5s;
    }
  }

  .top-logo {
    width: 100px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }

}

@media only screen
and (min-device-width : 411px)
and (max-device-width : 731px)
and (orientation : landscape) {

  .header-cta {
    h2 {
      font-size: 4vw;
      margin: 2.68em 0 0 0;
      transition: 0.5s;
    }
  }

  .top-logo {
    width: 100px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }

}


// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .jumbotron {
    &.hero-background {
      background-image: url("../assets/hero_image_GettyImages_482191820-576x324.png");
      min-height: 324px;
      background-position: center;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .header-cta {
    h2 {
      font-size: 6vw;
      margin: 2.68em 0 0 0;
      transition: 0.5s;
    }
  }

  .top-logo {
    width: 100px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px)
and (orientation : landscape) {

  .header-cta {
    h2 {
      font-size: 4vw;
      margin: 2.68em 0 0 0;
      transition: 0.5s;
    }
  }

  .top-logo {
    width: 100px;
    transition: 0.5s;
  }

  .footer {
    padding: 3em 0 12em;
  }

}



